<a href="https://colab.research.google.com/github/hyeokjulee/pythonbasic/blob/main/PythonDay03.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
# 조건문 if

# 조건문은 특정 조건을 만족할 때 실행되는 코드를 제어한다.
# 개발하다보면 여러가지 상황을 처리해야하는 경우가 발생한다.
# 이때 조건문을 통해 실행되거나 또는 실행되지 않는 코드를 정의할 수 있다.

# if 의 기본 문법

# 자바에서의 기본 if 문
# if (조건식) {
#    만족하는 경우;
# }

# 파이썬에서의 기본 if 문
# if 조건식:                              # 조건식 뒤에 : 콜론을 잊지 말자. 중괄호는 사용하지 않는다.
#   조건을 만족하는 경우 실행코드         # 파이썬은 들여쓰기에 매우 민감하다.

# 조건식에는 항상 언제나 최종값이 True 와 False 만이 올 수 있다.
# 다시 한번 강조하지만 만약 들여쓰기를 하지 않으면 오류가 발생된다.

x = 11
if x == 11:
  print(x)

11

In [ ]:
a = int(input('정수를 입력하세요 > '))

if a == 5:
  print(f'입력한 값은 {a} 입니다.')

정수를 입력하세요 > 5
입력한 값은 5 입니다.

In [ ]:
# 조건식을 여러개 취급해야하는 경우 가능하면 중첩 if 문은 사용하지 말자
x = 15

if x >= 10:
  print('x는 10 이상입니다.')
  if x <= 20:
    print('x는 20 이하입니다.')
  if x == 15:
    print('x는 15 입니다.')

x는 10 이상입니다.
x는 20 이하입니다.
x는 15 입니다.

In [ ]:
a = int(input('숫자를 입력하세요'))

if a > 5:
  print('입력값이 5보다 큽니다.')
else :
  print('입력값이 5보다 작거나 같습니다.')

숫자를 입력하세요5
입력값이 5보다 작거나 같습니다.

In [ ]:
a = int(input('숫자를 입력하세요'))

if a > 5:
  print('입력값이 5보다 큽니다.')
elif a == 5:
  print('입력값이 5입니다.')
else :
  print('입력값이 5보다 작습니다.')

숫자를 입력하세요5
입력값이 5입니다.

In [ ]:
no = int(input('1부터 5사이의 값을 입력하세요'))

if no < 5 and no >= 4: # 양쪽 조건을 동시에 만족
  print('입력값은 4입니다.')
elif  no < 4 and no >= 3: # 양쪽 조건을 동시에 만족
  print('입력값은 3입니다.')
elif  no < 3 and no >= 2: # 양쪽 조건을 동시에 만족
  print('입력값은 2입니다.')
elif  no < 2 and no >= 1: # 양쪽 조건을 동시에 만족
  print('입력값은 1입니다.')
else:
  print('입력값은 5입니다.')

1부터 5사이의 값을 입력하세요3
입력값이 3입니다.

In [ ]:
# q1 월을 입력하세요? 해당 계절을 출력하세요.
# 3,4,5 봄 6,7,8 여름 9,10,11 가을 12,1,2 겨울

month = int(input('월을 입력하세요'))

if 3 <= month <= 5 :
  print('봄')
elif  6 <= month <= 8 :
  print('여름')
elif  9 <= month <= 11 :
  print('가을')
elif  month == 12 or 1 <= month <= 2 :
  print('겨울')
else:
  print('1월부터 12월까지만 있습니다. 다시 하세요.')

월을 입력하세요10
가을

In [ ]:
# if statement 조건 구문

# 정수 하나를 입력 받아서 그 수가 홀수인지 짝수인지를 알려주는 프로그램을 만드세요.

a = int(input('정수 입력 : '))

if a % 2 == 0 :
  print(f'{a} : 짝수')
else:
  print(f'{a} : 홀수')

정수 입력 : 3
3 : 홀수

In [ ]:
# 조건부 표현식 if expression 조건 표현식
# 자바의 삼항연산자와는 달리 if 를 사용하여 표현한다.

a = int(input('정수 입력 : '))

answer = '짝수' if a % 2 == 0 else '홀수' # True출력값 if 조건식 else False출력값

print(f'{a} : {answer}')

정수 입력 : 5
5 : 홀수

In [ ]:
# if 와 in 연산자
list1 = ['봄','여름','가을','겨울']

input1 = input('어느 계절을 좋아하시나요?')

if input1 in list1:
  print(f'{input1}은 여행 가능한 계절입니다.')
else:
  print(f'{input1}은 여행이 불가능한 계절입니다.')

어느 계절을 좋아하시나요?봄
봄은 여행 가능한 계절입니다.

In [ ]:
# 성적을 입력 받아서 59점까지는 F학점
# 69점까지는 D학점
# 79점까지는 C학점
# 89점까지는 B학점
# 100점까지는 A학점
# '당신의 점수 {}는 {}학점입니다.'

num = int(input('점수 입력 : '))

if 0 <= num <= 59 :
  alp = 'F'
elif num <= 69 :
  alp = 'D'
elif num <= 79 :
  alp = 'C'
elif num <= 89 :
  alp = 'B'
elif num <= 100 :
  alp = 'A'
else:
  alp = 'x'

if alp != 'x':
  print(f'당신의 점수 {num}는 {alp}학점입니다.')
else:
  print('점수는 0 ~ 100 으로 입력 바랍니다.')

점수 입력 : 101
점수는 0 ~ 100 으로 입력 바랍니다.

In [ ]:
# 반복문 While For

# While 은 반복횟수가 불명확할 때 주로 사용되고
# For 문은 반복횟수가 명확할 때 주로 사용된다.

# 예를 들어 'hi' 10번 반복하여 출력하고자한다.
print('hi')
print('hi')
print('hi')
print('hi')
print('hi')
print('hi')
print('hi')
print('hi')
print('hi')
print('hi')

# 10번의 경우에는 위와 같이 10번 반복할 수 있다. 하지만 1000번이라면 무모하다.

hi
hi
hi
hi
hi
hi
hi
hi
hi
hi

In [ ]:
for i in range(10): 
  print('hi')

# range는 인수 3개가 기본이다. range(start, stop, step)
# start 생략가능 - 0에서 시작
# step 생략가능 - 1씩 증가

hi
hi
hi
hi
hi
hi
hi
hi
hi
hi
hi
hi
hi
hi
hi

In [ ]:
list1 = [10,30,20,50]

list1.sort()

for i in list1:
  print(i)

10
20
30
50

In [ ]:
list1 = [10,30,20,50]

list1.sort()

for i in range(4):
  print(list1[i])

10
20
30
50

In [ ]:
# 리스트와 for문을 이용하여 1~100까지의 합 구하기

numbers = list(range(1, 101))
sum = 0

for i in numbers:
  sum += i

print(f'1~100까지의 합 : {sum}')

1~100까지의 합 : 5050

In [ ]:
# 2중 for 문

for x in range(2,10):
  for y in range(1,10):
    print(x , "*", y, "=", x*y )

# 단별로 옆으로 한줄로 찍기

2 * 1 = 2
2 * 2 = 4
2 * 3 = 6
2 * 4 = 8
2 * 5 = 10
2 * 6 = 12
2 * 7 = 14
2 * 8 = 16
2 * 9 = 18
3 * 1 = 3
3 * 2 = 6
3 * 3 = 9
3 * 4 = 12
3 * 5 = 15
3 * 6 = 18
3 * 7 = 21
3 * 8 = 24
3 * 9 = 27
4 * 1 = 4
4 * 2 = 8
4 * 3 = 12
4 * 4 = 16
4 * 5 = 20
4 * 6 = 24
4 * 7 = 28
4 * 8 = 32
4 * 9 = 36
5 * 1 = 5
5 * 2 = 10
5 * 3 = 15
5 * 4 = 20
5 * 5 = 25
5 * 6 = 30
5 * 7 = 35
5 * 8 = 40
5 * 9 = 45
6 * 1 = 6
6 * 2 = 12
6 * 3 = 18
6 * 4 = 24
6 * 5 = 30
6 * 6 = 36
6 * 7 = 42
6 * 8 = 48
6 * 9 = 54
7 * 1 = 7
7 * 2 = 14
7 * 3 = 21
7 * 4 = 28
7 * 5 = 35
7 * 6 = 42
7 * 7 = 49
7 * 8 = 56
7 * 9 = 63
8 * 1 = 8
8 * 2 = 16
8 * 3 = 24
8 * 4 = 32
8 * 5 = 40
8 * 6 = 48
8 * 7 = 56
8 * 8 = 64
8 * 9 = 72
9 * 1 = 9
9 * 2 = 18
9 * 3 = 27
9 * 4 = 36
9 * 5 = 45
9 * 6 = 54
9 * 7 = 63
9 * 8 = 72
9 * 9 = 81

In [ ]:
for y in range(1,10):
  for x in range(2,10):
    print(x,"*",y,"=",x*y,end='\t')
  print()

2 * 1 = 2	3 * 1 = 3	4 * 1 = 4	5 * 1 = 5	6 * 1 = 6	7 * 1 = 7	8 * 1 = 8	9 * 1 = 9
2 * 2 = 4	3 * 2 = 6	4 * 2 = 8	5 * 2 = 10	6 * 2 = 12	7 * 2 = 14	8 * 2 = 16	9 * 2 = 18
2 * 3 = 6	3 * 3 = 9	4 * 3 = 12	5 * 3 = 15	6 * 3 = 18	7 * 3 = 21	8 * 3 = 24	9 * 3 = 27
2 * 4 = 8	3 * 4 = 12	4 * 4 = 16	5 * 4 = 20	6 * 4 = 24	7 * 4 = 28	8 * 4 = 32	9 * 4 = 36
2 * 5 = 10	3 * 5 = 15	4 * 5 = 20	5 * 5 = 25	6 * 5 = 30	7 * 5 = 35	8 * 5 = 40	9 * 5 = 45
2 * 6 = 12	3 * 6 = 18	4 * 6 = 24	5 * 6 = 30	6 * 6 = 36	7 * 6 = 42	8 * 6 = 48	9 * 6 = 54
2 * 7 = 14	3 * 7 = 21	4 * 7 = 28	5 * 7 = 35	6 * 7 = 42	7 * 7 = 49	8 * 7 = 56	9 * 7 = 63
2 * 8 = 16	3 * 8 = 24	4 * 8 = 32	5 * 8 = 40	6 * 8 = 48	7 * 8 = 56	8 * 8 = 64	9 * 8 = 72
2 * 9 = 18	3 * 9 = 27	4 * 9 = 36	5 * 9 = 45	6 * 9 = 54	7 * 9 = 63	8 * 9 = 72	9 * 9 = 81

In [ ]:
# While

# while 조건식:
#   수행시킬 구문

# while True: # 조건에 True 따라서 무한 반복
#   print('hi')

In [ ]:
i = 10
while i > 5:
  print(i)
  i -= 1 # 파이썬은 자바처럼 i++ 즉 증감연산자는 사용하지 않는다. i = i + 1

10
9
8
7
6

In [ ]:
import random

temp_no = 0
while temp_no != 3: # 3이 나올 때까지 반복하여 난수 발생
  temp_no = random.randint(1,6) # 끝 숫자 6도 포함된다. 미만이 아닌 이하

  print(f'발생된 난수는 {temp_no}입니다.')

발생된 난수는 1입니다.
발생된 난수는 4입니다.
발생된 난수는 6입니다.
발생된 난수는 2입니다.
발생된 난수는 5입니다.
발생된 난수는 6입니다.
발생된 난수는 1입니다.
발생된 난수는 2입니다.
발생된 난수는 5입니다.
발생된 난수는 1입니다.
발생된 난수는 2입니다.
발생된 난수는 3입니다.

In [ ]:
# 난수 발생 정리

import random # random 모듈 임포트 후 사용

random.random() # 0에서 1미만 실수 float 으로 생성

0.4148049948570356

In [ ]:
random.randint(1,10) # 1에서 10이하의 정수 하나 생성

9

In [ ]:
random.randrange(0,10,2) # 0에서 10 미만 중 2의 배수로 난수 발생

6

In [ ]:
random.choice(['봄','여름','가을','겨울']) # 리스트의 값들 중 하나를 임의로 선택

'가을'

In [ ]:
random.sample(range(1,46),6) # range 범위 중 임의의 갯수 추출

[6, 10, 20, 30, 13, 45]

In [ ]:
list1 = [1,2,3,4,5]

random.shuffle(list1)

print(list1)

[3, 4, 2, 5, 1]

In [ ]:
# break 강제로 빠져나가기
# continue 이후의 내용은 건너뛰고 다시 반복문으로 돌아가기

i = 0

while i < 10:
  i += 1
  if i % 2 == 0:
    print(i)

2
4
6
8
10

In [ ]:
i = 0

while i < 10:
  i += 1
  if i % 2 == 0:
    continue
  print(i)

1
3
5
7
9

In [ ]:
i = 0

while True:
  i += 1
  if i  == 10:
    break
  print(i)

1
2
3
4
5
6
7
8
9